@charset 'utf-8';
.theme_blue {
	header {
		&:after {
			background-color: #309ce0;
		}
		.gnb_wrap {
			ul {
				li {
					&.active {
						background-color: #309ce0;
					}
				}
			}
		}
	}
	#container {
		.lnb {
			> ul {
				> li {
					&.active {
						> a, > span {
							color: #309ce0;
						}
					}
				}
				ul {
					li {
						a {
							&.active {
								color: #309ce0;
							}
						}
					}
				}
			}
		}
		.tab_wrap {
			li {
				&.active {
					border-top-color: #309ce0;
				}
			}
		}
	}
	a, button, input, span {
		&.point {
			background-color: #309ce0;
			border-color: #309ce0;
		}
	}
}
