<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="macrogen.www.mapper.CmpnyhistMapper">

	<sql id="list_where">
		<if test="langCode != null and langCode != ''">
			and tc.lang_code = #{langCode}
		</if>
		<if test="searchYear != null and searchYear != ''">
			and tc.year = #{searchYear}
		</if>
		<if test="searchMt != null and searchMt != ''">
			and tc.mt = #{searchMt}
		</if>
		<if test="searchKeyword != null and searchKeyword != ''">
			and tc.cn like concat('%', #{searchKeyword}, '%')
		</if>
		<if test="cmpnyhistGroupSn != null and cmpnyhistGroupSn != ''">
			and tc.cmpnyhist_group_sn = #{cmpnyhistGroupSn}
		</if>

	</sql>

	<select id="count" parameterType="cmpnyhistVo" resultType="int">
		select count(*)
		from tb_cmpnyhist tc
		where 1 = 1
		<include refid="list_where" />
	</select>

	<select id="list" parameterType="cmpnyhistVo" resultType="cmpnyhistVo">
		<include refid="paging.countTop" />
		select
			tc.cmpnyhist_sn
			, tc.cmpnyhist_group_sn
			, '' cmpnyhist_group_disp_nm
			, tc.lang_code
			, tc.year
			, tc.mt
			, tc.cn
			, tc.regist_dt
			, tc.register_sn
			, ( select user_nm from tb_user where user_sn = tc.register_sn ) register_nm
			, tc.updt_dt
			, tc.updusr_sn
			, ( select user_nm from tb_user where user_sn = tc.updusr_sn ) updusr_nm
		from tb_cmpnyhist tc
		where 1 = 1
		<include refid="list_where" />
		<choose>
			<when test='orderBy == "regist_dt_desc"'>
				order by tc.regist_dt desc, tc.cmpnyhist_sn desc
			</when>
			<otherwise>
				order by tc.year desc, tc.mt desc
			</otherwise>
		</choose>
		<include refid="paging.countBottom" />
	</select>

	<select id="view" parameterType="cmpnyhistVo" resultType="cmpnyhistVo">
		select
			tc.cmpnyhist_sn
			, tc.cmpnyhist_group_sn
			, '' cmpnyhist_group_disp_nm
			, tc.lang_code
			, tc.year
			, tc.mt
			, tc.cn
			, tc.regist_dt
			, tc.register_sn
			, ( select user_nm from tb_user where user_sn = tc.register_sn ) register_nm
			, tc.updt_dt
			, tc.updusr_sn
			, ( select user_nm from tb_user where user_sn = tc.updusr_sn ) updusr_nm
		from tb_cmpnyhist tc
		where tc.cmpnyhist_sn = #{cmpnyhistSn}
	</select>

	<select id="seq" resultType="long">
		select fn_nextval('sq_cmpnyhist')
	</select>

	<insert id="insert" parameterType="cmpnyhistVo">
		insert into tb_cmpnyhist (
			cmpnyhist_sn
			, cmpnyhist_group_sn
			, lang_code
			, year
			, mt
			, cn
			, regist_dt
			, register_sn
			, updt_dt
			, updusr_sn
		) values (
			#{cmpnyhistSn}
			, #{cmpnyhistGroupSn}
			, #{langCode}
			, #{year}
			, #{mt}
			, #{cn}
			, now()
			, #{registerSn}
			, now()
			, #{updusrSn}
		)
	</insert>

	<delete id="delete" parameterType="cmpnyhistVo">
		delete from tb_cmpnyhist where cmpnyhist_sn = #{cmpnyhistSn}
	</delete>

	<update id="update" parameterType="cmpnyhistVo">
		update tb_cmpnyhist
		set
		    updt_dt = now()
		    , updusr_sn = #{updusrSn}
			<if test="cmpnyhistGroupSn != null">, cmpnyhist_group_sn = #{cmpnyhistGroupSn} </if>
			<if test="langCode != null">, lang_code = #{langCode} </if>
			<if test="year != null">, year = #{year} </if>
			<if test="mt != null">, mt = #{mt} </if>
			<if test="cn != null">, cn = #{cn} </if>
		where cmpnyhist_sn = #{cmpnyhistSn}
	</update>

	<delete id="deleteMigratedHistory" parameterType="cmpnyhistVo">
		delete from tb_cmpnyhist where cmpnyhist_sn <![CDATA[ < ]]> 20000000000
	</delete>

	<select id="distinctYearList" parameterType="cmpnyhistVo" resultType="string">
		select distinct year
		from tb_cmpnyhist
		where lang_code = #{langCode}
		and cmpnyhist_group_sn = #{cmpnyhistGroupSn}
		order by year desc
	</select>

	<insert id="migrateHistory" parameterType="cmpnyhistVo">
		insert into tb_cmpnyhist (
		    cmpnyhist_sn
		    , cmpnyhist_group_sn
		    , lang_code
		    , year
		    , mt
		    , cn
		    , regist_dt
		    , register_sn
		    , updt_dt
		    , updusr_sn
		)
		select
			<choose>
				<when test='langCode == "ko"'>
				h_no + 10000000000
				</when>
				<when test='langCode == "en"'>
				h_no + 11000000000
				</when>
			</choose>
		    , null
		    , #{langCode}
		    , h_year
		    , regexp_replace(h_title,'[^0-9]','')
		    , h_content
		    , h_regdate
		    , null
		    , h_regdate
		    , null
			<choose>
				<when test='langCode == "ko"'>
				from macrogenasis.history
				</when>
				<when test='langCode == "en"'>
				from macrogenasis.history_en
				</when>
			</choose>
	</insert>

</mapper>