<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="macrogen.www.mapper.MainPeopleMapper">
  <sql id="list_where">
    <if test="langCode != null and langCode != ''">
      and tmp.lang_code = #{langCode}
    </if>
    <if test='searchUseYn != null and searchUseYn != ""'>
      and tmp.view_yn = #{searchUseYn}
    </if>
  </sql>

  <select id="count" parameterType="mainPeopleVo" resultType="int">
    select count(*)
    from tb_main_people tmp
    where 1 = 1
    <include refid="list_where" />
  </select>

  <select id="list" parameterType="mainPeopleVo" resultType="mainPeopleVo">
    <include refid="paging.countTop" />
	select
		tmp.people_sn
		, tmp.lang_code
		, tmp.people_nm
		, tmp.people_dept
		, tmp.cn_pc
		, tmp.cn_mo
		, tmp.atch_id_pc as imageAtchIdPc
		, ( select physicl_flpth from tb_atch where atch_id = tmp.atch_id_pc ) image_flpth_pc
		, tmp.atch_id_mo as imageAtchIdMo
		, ( select physicl_flpth from tb_atch where atch_id = tmp.atch_id_mo ) image_flpth_mo
		, tmp.view_yn
		, tmp.sort_ordr
		, tmp.regist_dt
		, tmp.register_sn
		, ( select user_nm from tb_user where user_sn = tmp.register_sn ) register_nm
		, tmp.updt_dt
		, tmp.updusr_sn
		, ( select user_nm from tb_user where user_sn = tmp.updusr_sn ) updusr_nm
	from tb_main_people tmp
	where view_yn = 'Y'
    <include refid="list_where" />
    order by
   		<if test='mode != null and mode == "main"'>
   		tmp.sort_ordr asc,
   		</if>
	    tmp.people_sn desc
    <include refid="paging.countBottom" />
  </select>

  <select id="view" parameterType="mainPeopleVo" resultType="mainPeopleVo">
    select
		tmp.people_sn
		, tmp.lang_code
		, tmp.people_nm
		, tmp.people_dept
		, tmp.cn_pc
		, tmp.cn_mo
		, tmp.atch_id_pc as imageAtchIdPc
		, ( select physicl_flpth from tb_atch where atch_id = tmp.atch_id_pc ) image_flpth_pc
		, tmp.atch_id_mo as imageAtchIdMo
		, ( select physicl_flpth from tb_atch where atch_id = tmp.atch_id_mo ) image_flpth_mo
		, tmp.view_yn
		, tmp.sort_ordr
		, tmp.regist_dt
		, tmp.register_sn
		, ( select user_nm from tb_user where user_sn = tmp.register_sn ) register_nm
		, tmp.updt_dt
		, tmp.updusr_sn
		, ( select user_nm from tb_user where user_sn = tmp.updusr_sn ) updusr_nm
    from tb_main_people tmp
    where tmp.people_sn = #{peopleSn}
  </select>

  <select id="seq" resultType="long">
    select fn_nextval('sq_main_people')
  </select>

  <insert id="insert" parameterType="mainPeopleVo">
    insert into tb_main_people (
      people_sn
	  , lang_code
	  , people_nm
	  , people_dept
	  , cn_pc
	  , cn_mo
	  , atch_id_pc
	  , atch_id_mo
	  , view_yn
	  , sort_ordr
	  , regist_dt
	  , register_sn
	  , updt_dt
	  , updusr_sn
    ) values (
      #{peopleSn}
      , #{langCode}
      , #{peopleNm}
      , #{peopleDept}
      , #{cnPc}
      , #{cnMo}
      , #{imageAtchIdPc}
      , #{imageAtchIdMo}
      , #{viewYn}
      , #{sortOrdr}
      , now()
      , #{registerSn}
      , now()
      , #{updusrSn}
    )
  </insert>

  <delete id="delete" parameterType="mainPeopleVo">
    delete from tb_main_people where people_sn = #{peopleSn}
  </delete>

  <update id="update" parameterType="mainPeopleVo">
    update tb_main_people
    set
        updt_dt = now()
        , updusr_sn = #{updusrSn}
        , people_nm = #{peopleNm}
        , people_dept = #{peopleDept}
        , cn_pc = #{cnPc}
        , cn_mo = #{cnMo}
        , sort_ordr = #{sortOrdr}
        , view_yn = #{viewYn}
      <if test="imageAtchIdPc != null">, atch_id_pc = #{imageAtchIdPc} </if>
      <if test="imageAtchIdMo != null">, atch_id_mo = #{imageAtchIdMo} </if>
    where people_sn = #{peopleSn}
  </update>

  <update id="updateSortOrdr" parameterType="mainPeopleVo">
	update tb_main_people
	set
		sort_ordr = #{sortOrdr}
	where people_sn = #{peopleSn}
  </update>

</mapper>
