<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="macrogen.www.mapper.NttImageMapper">
	<sql id="list_where">
		<if test="nttSn != null">
			and tni.ntt_sn = #{nttSn}
		</if>
	</sql>

	<select id="list" parameterType="nttImageVo" resultType="nttImageVo">
		<include refid="paging.countTop"/>
		select
		  tni.ntt_sn
		  , tni.atch_id
		  , tni.sort_ordr
		  , ta.physicl_flpth
		  , ta.logic_nm
		  , ta.file_size
		from tb_ntt_image tni
		join tb_atch ta on ta.atch_id = tni.atch_id
		where 1 = 1
		<include refid="list_where" />
		order by
		    tni.sort_ordr
		<include refid="paging.countBottom"/>
	</select>

	<insert id="insert" parameterType="nttImageVo">
		insert into tb_ntt_image (
		    ntt_sn
		    , atch_id
		    , sort_ordr
		    , regist_dt
		    , register_sn
		    , updt_dt
		    , updusr_sn
		) values (
		    #{nttSn}
		    , #{atchId}
		    , #{sortOrdr}
		    , now()
		    , #{registerSn}
		    , now()
		    , #{updusrSn}
		)
	</insert>

	<delete id="delete" parameterType="nttImageVo">
		delete
		from tb_ntt_image
		where ntt_sn = #{nttSn}
		and atch_id = #{atchId}
	</delete>

	<delete id="deleteByNttSn" parameterType="nttImageVo">
		delete
		from tb_ntt_image
		where ntt_sn = #{nttSn}
	</delete>
</mapper>
