<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="macrogen.www.mapper.NttMapper">

	<resultMap type="nttVo" id="nttMap">
		<result property="nmbrWrterNm" column="nmbr_wrter_nm" javaType="string" typeHandler="aesCipherTypeHandler"/>
		<result property="mbtlnum" column="mbtlnum" javaType="string" typeHandler="aesCipherTypeHandler"/>
		<result property="email" column="email" javaType="string" typeHandler="aesCipherTypeHandler"/>
	</resultMap>

	<sql id="list_where">
		<if test="langCode != null and langCode != ''">
			and tn.lang_code = #{langCode}
		</if>
		<if test="bbsId != null and bbsId != ''">
			and tn.bbs_id = #{bbsId}
		</if>
		<if test="wrterSn != null and wrterSn != '' " >
			AND tn.wrter_sn = #{wrterSn}
		</if>
		<if test="searchExpsrYn != null and searchExpsrYn != '' " >
			AND tn.expsr_yn = #{searchExpsrYn}
		</if>
		<if test="searchBbsCtgrySn != null and searchBbsCtgrySn != ''">
			and tn.bbs_ctgry_sn = #{searchBbsCtgrySn}
		</if>
		<if test="searchKeyword != null and searchKeyword != ''">
			<choose>
				<when test="searchCondition == 'TITLE'">
					and tn.ntt_sj like concat('%', #{searchKeyword}, '%')
				</when>
				<when test="searchCondition == 'WRTER'">
					and exists (
					    select 1 from tb_user
					    where user_nm like concat('%', #{searchKeyword}, '%')
					    and user_sn = tn.wrter_sn
					)
				</when>
				<when test="searchCondition == 'NMBR_WRTER'">
					and tn.nmbr_wrter_nm = #{searchKeyword, typeHandler=aesCipherTypeHandler}
				</when>
				<when test="searchCondition == 'MBTLNUM'">
					and tn.mbtlnum = #{searchKeyword, typeHandler=aesCipherTypeHandler}
				</when>
				<when test="searchCondition == 'TITLE_CN'">
					and ( tn.ntt_sj like concat('%', #{searchKeyword}, '%')
							OR tn.ntt_cn like concat('%', #{searchKeyword}, '%') )
				</when>
			</choose>
		</if>
		<if test='upendFixingYn == "Y"'>
			and tn.upend_fixing_yn = 'Y'
		</if>
		<if test="searchBeginDt != null">
			AND tn.updt_dt <![CDATA[>=]]> DATE(#{searchBeginDt})
		</if>
		<if test="searchEndDt != null">
			AND tn.updt_dt <![CDATA[<=]]> DATE_ADD(DATE(#{searchEndDt}), INTERVAL 1 DAY)
		</if>
	</sql>

	<select id="count" parameterType="nttVo" resultType="int">
		select count(*)
		from tb_ntt tn
		where 1 = 1
		<include refid="list_where" />
	</select>

	<select id="list" parameterType="nttVo" resultMap="nttMap">
		<include refid="paging.countTop"/>
		select
			tn.ntt_sn
			, tn.lang_code
			, tn.bbs_id
			, tn.bbs_ctgry_sn
			, ( select bbs_ctgry_nm from tb_bbs_ctgry where bbs_ctgry_sn = tn.bbs_ctgry_sn ) bbs_ctgry_nm
			, tn.ntt_sj
			, tn.ntt_cn
			, tn.expsr_yn
			, tn.rdcnt
			, tn.upend_fixing_yn
			, tn.wrter_sn
			, ( select user_nm from tb_user where user_sn = tn.wrter_sn ) wrter_nm
			, tn.regist_dt
			, tn.register_sn
			, tn.updt_dt
			, tn.updusr_sn
			, tn.nmbr_wrter_nm
			, tn.mbtlnum
			, tn.thumb_bass_image_use_yn
			, tn.thumb_atch_id
			, ( select physicl_flpth from tb_atch where atch_id = tn.thumb_atch_id ) thumb_flpth
			, tn.thumb_bass_image_code
			, ( select code_nm from tb_code where code_se = 'THUMB_BASS_IMAGE_CODE' and code = tn.thumb_bass_image_code ) thumb_bass_image_code_nm
			, tn.mvp_url
		from tb_ntt tn
		where 1 = 1
		<include refid="list_where" />
		<choose>
			<when test='orderBy == "regist_dt_desc"'>
				order by tn.regist_dt desc, tn.ntt_sn desc
			</when>
			<when test='orderBy == "regist_dt_asc"'>
				order by tn.regist_dt asc, tn.ntt_sn asc
			</when>
			<when test='orderBy == "rdcnt_desc"'>
				order by tn.rdcnt desc, tn.ntt_sn desc
			</when>
			<when test='orderBy == "rdcnt_asc"'>
				order by tn.rdcnt asc, tn.ntt_sn desc
			</when>
			<otherwise>
				order by tn.ntt_sn desc
			</otherwise>
		</choose>
		<include refid="paging.countBottom"/>
	</select>

	<select id="view" parameterType="nttVo" resultMap="nttMap">
		select
			tn.ntt_sn
			, tn.lang_code
			, tn.bbs_id
			, tn.bbs_ctgry_sn
			, ( select bbs_ctgry_nm from tb_bbs_ctgry where bbs_ctgry_sn = tn.bbs_ctgry_sn ) bbs_ctgry_nm
			, tn.ntt_sj
			, tn.ntt_cn
			, tn.expsr_yn
			, tn.rdcnt
			, tn.upend_fixing_yn
			, tn.wrter_sn
			, ( select user_nm from tb_user where user_sn = tn.wrter_sn ) wrter_nm
			, tn.regist_dt
			, tn.register_sn
			, tn.updt_dt
			, tn.updusr_sn
			, tn.nmbr_wrter_nm
			, tn.mbtlnum
			, tn.thumb_bass_image_use_yn
			, tn.thumb_atch_id
			, ( select physicl_flpth from tb_atch where atch_id = tn.thumb_atch_id ) thumb_flpth
			, tn.thumb_bass_image_code
			, tn.mvp_url
		from tb_ntt tn
		where tn.ntt_sn = #{nttSn}
	</select>

	<select id="seq" resultType="long">
		select fn_nextval('sq_ntt')
	</select>

	<insert id="insert" parameterType="nttVo">
		insert into tb_ntt (
			ntt_sn
			, lang_code
			, bbs_id
			, bbs_ctgry_sn
			, ntt_sj
			, ntt_cn
			, expsr_yn
			, rdcnt
			, upend_fixing_yn
			, wrter_sn
			, regist_dt
			, register_sn
			, updt_dt
			, updusr_sn
			, nmbr_wrter_nm
			, mbtlnum
			, email
			, regist_ip
			, thumb_bass_image_use_yn
			, thumb_atch_id
			, thumb_bass_image_code
			, mvp_url
		) values (
			#{nttSn}
			, #{langCode}
			, #{bbsId}
			, #{bbsCtgrySn}
			, #{nttSj}
			, #{nttCn}
		    , ifnull(#{expsrYn}, 'Y')
		    , 0
			, ifnull(#{upendFixingYn}, 'N')
			, #{wrterSn}
			, ifnull(#{registDt}, now())
			, #{registerSn}
			, ifnull(#{updtDt}, now())
			, #{updusrSn}
			, #{nmbrWrterNm, typeHandler=aesCipherTypeHandler}
			, #{mbtlnum, typeHandler=aesCipherTypeHandler}
			, #{email, typeHandler=aesCipherTypeHandler}
			, #{registIp}
			, #{thumbBassImageUseYn}
			, #{thumbAtchId}
			, #{thumbBassImageCode}
			, #{mvpUrl}
		)
	</insert>

	<update id="update" parameterType="nttVo">
		update tb_ntt
		set
		    updt_dt = now()
		    , updusr_sn = #{updusrSn}
		    <if test="langCode != null">, lang_code = #{langCode} </if>
		    <if test="bbsId != null">, bbs_id = #{bbsId} </if>
		    <if test="bbsCtgrySn != null">, bbs_ctgry_sn = #{bbsCtgrySn} </if>
		    <if test="nttSj != null">, ntt_sj = #{nttSj} </if>
		    <if test="nttCn != null">, ntt_cn = #{nttCn} </if>
		    <if test="expsrYn != null">, expsr_yn = #{expsrYn} </if>
		    <if test="rdcnt != null">, rdcnt = #{rdcnt} </if>
		    <if test="upendFixingYn != null">, upend_fixing_yn = #{upendFixingYn} </if>
		    <if test="nmbrWrterNm != null">, nmbr_wrter_nm = #{nmbrWrterNm, typeHandler=aesCipherTypeHandler} </if>
		    <if test="mbtlnum != null">, mbtlnum = #{mbtlnum, typeHandler=aesCipherTypeHandler} </if>
		    <if test="email != null">, email = #{email, typeHandler=aesCipherTypeHandler} </if>
		    <if test="registIp != null">, regist_ip = #{registIp} </if>
		    <if test="thumbBassImageUseYn != null">, thumb_bass_image_use_yn = #{thumbBassImageUseYn} </if>
		    <if test="thumbAtchId != null">, thumb_atch_id = #{thumbAtchId} </if>
		    <if test="thumbBassImageCode != null">, thumb_bass_image_code = #{thumbBassImageCode} </if>
		    <if test="mvpUrl != null">, mvp_url = #{mvpUrl} </if>
		where ntt_sn = #{nttSn}
	</update>

	<delete id="delete" parameterType="nttVo">
		delete from tb_ntt where ntt_sn = #{nttSn}
	</delete>

    <update id="increaseRdcnt" parameterType="nttVo">
    	UPDATE tb_ntt SET
    		rdcnt = ifnull(rdcnt, 0) + 1
    	WHERE
    		ntt_sn = #{nttSn}
    </update>

	<delete id="deleteMigratedMedia" parameterType="nttVo">
		delete from tb_ntt where bbs_id = 'media-library' and ntt_sn <![CDATA[ < ]]> 20000000000
	</delete>

	<insert id="migrateMedia" parameterType="nttVo">
		insert into tb_ntt (
		    ntt_sn
		    , bbs_id
		    , bbs_ctgry_sn
		    , ntt_sj
		    , ntt_cn
		    , expsr_yn
		    , rdcnt
		    , upend_fixing_yn
		    , wrter_sn
		    , regist_dt
		    , register_sn
		    , updt_dt
		    , updusr_sn
		    , lang_code
		    , mbtlnum
		    , thumb_bass_image_use_yn
		    , thumb_atch_id
		    , thumb_bass_image_code
		    , mvp_url
		    , nmbr_wrter_nm
		)
		select
			<choose>
				<when test='langCode == "ko"'>
				m_no + 10000000000
				</when>
				<when test='langCode == "en"'>
				m_no + 11000000000
				</when>
			</choose>
		    , 'media-library'
		    , null
		    , m_title
		    , m_content
		    , null
		    , null
		    , null
		    , null
		    , m_regdate
		    , null
		    , m_regdate
		    , null
		    , #{langCode}
		    , null
		    , null
		    , null
		    , null
		    , m_source
		    , null
			<choose>
				<when test='langCode == "ko"'>
				from macrogenasis.media
				</when>
				<when test='langCode == "en"'>
				from macrogenasis.media_en
				</when>
			</choose>
	</insert>

	<delete id="deleteMigratedNoticeBoard" parameterType="nttVo">
		delete from tb_ntt where bbs_id = 'notice' and ntt_sn <![CDATA[ < ]]> 20000000000
	</delete>

	<insert id="migrateNoticeBoard" parameterType="nttVo">
		insert into tb_ntt (
		    ntt_sn
		    , bbs_id
		    , bbs_ctgry_sn
		    , ntt_sj
		    , ntt_cn
		    , expsr_yn
		    , rdcnt
		    , upend_fixing_yn
		    , wrter_sn
		    , regist_dt
		    , register_sn
		    , updt_dt
		    , updusr_sn
		    , lang_code
		    , mbtlnum
		    , thumb_bass_image_use_yn
		    , thumb_atch_id
		    , thumb_bass_image_code
		    , mvp_url
		    , nmbr_wrter_nm
		)
		select
		    <choose>
		      <when test='langCode == "ko"'>
		      b_no + 12100000000
		      </when>
		      <when test='langCode == "en"'>
		      b_no + 12200000000
		      </when>
		    </choose>
		    , 'notice'
		    , null
		    , b_title
		    , b_content
		    , 'Y'
		    , b_cnt
		    , case when b_notice = 1 then 'Y' else null end
		    , null
		    , b_regdate
		    , null
		    , b_regdate
		    , null
		    , #{langCode}
		    , null
		    , null
		    , null
		    , null
		    , null
		    , null
		from macrogenasis.board
		<choose>
		  <when test='langCode == "ko"'>
		    where b_class = 4
		  </when>
		  <when test='langCode == "en"'>
		    where b_class = 14
		  </when>
		</choose>
	</insert>

	<delete id="deleteMigratedPressReleaseBoard" parameterType="nttVo">
		delete from tb_ntt where bbs_id = 'press-release' and ntt_sn <![CDATA[ < ]]> 20000000000
	</delete>

	<insert id="migratePressReleaseBoard" parameterType="nttVo">
		insert into tb_ntt (
		    ntt_sn
		    , bbs_id
		    , bbs_ctgry_sn
		    , ntt_sj
		    , ntt_cn
		    , expsr_yn
		    , rdcnt
		    , upend_fixing_yn
		    , wrter_sn
		    , regist_dt
		    , register_sn
		    , updt_dt
		    , updusr_sn
		    , lang_code
		    , mbtlnum
		    , thumb_bass_image_use_yn
		    , thumb_atch_id
		    , thumb_bass_image_code
		    , mvp_url
		    , nmbr_wrter_nm
		)
		select
		    <choose>
		      <when test='langCode == "ko"'>
		      b_no + 13000000000
		      </when>
		      <when test='langCode == "en"'>
		      b_no + 13100000000
		      </when>
		    </choose>
		    , 'press-release'
		    , null
		    , b_title
		    , b_content
		    , 'Y'
		    , b_cnt
		    , case when b_notice = 1 then 'Y' else null end
		    , null
		    , b_regdate
		    , null
		    , b_regdate
		    , null
		    , #{langCode}
		    , null
		    , null
		    , null
		    , null
		    , null
		    , null
		from macrogenasis.board
		<choose>
		  <when test='langCode == "ko"'>
		    where b_class = 5
		  </when>
		  <when test='langCode == "en"'>
		    where b_class = 15
		  </when>
		</choose>
	</insert>

	<delete id="deleteMigratedIrdislosBoard" parameterType="nttVo">
		delete from tb_ntt where bbs_id = 'irdislos' and ntt_sn <![CDATA[ < ]]> 20000000000
	</delete>

	<insert id="migrateIrdislosBoard" parameterType="nttVo">
		insert into tb_ntt (
		    ntt_sn
		    , bbs_id
		    , bbs_ctgry_sn
		    , ntt_sj
		    , ntt_cn
		    , expsr_yn
		    , rdcnt
		    , upend_fixing_yn
		    , wrter_sn
		    , regist_dt
		    , register_sn
		    , updt_dt
		    , updusr_sn
		    , lang_code
		    , mbtlnum
		    , thumb_bass_image_use_yn
		    , thumb_atch_id
		    , thumb_bass_image_code
		    , mvp_url
		    , nmbr_wrter_nm
		)
		select
		    <choose>
		      <when test='langCode == "ko"'>
		      b_no + 14000000000
		      </when>
		      <when test='langCode == "en"'>
		      b_no + 14100000000
		      </when>
		    </choose>
		    , 'irdislos'
		    , null
		    , b_title
		    , b_content
		    , 'Y'
		    , b_cnt
		    , case when b_notice = 1 then 'Y' else null end
		    , null
		    , b_regdate
		    , null
		    , b_regdate
		    , null
		    , #{langCode}
		    , null
		    , null
		    , null
		    , null
		    , null
		    , null
		from macrogenasis.board
		<choose>
		  <when test='langCode == "ko"'>
		    where b_class = 7
		  </when>
		  <when test='langCode == "en"'>
		    where b_class = 17
		  </when>
		</choose>
	</insert>

	<delete id="deleteMigratedIrnewsBoard" parameterType="nttVo">
		delete from tb_ntt where bbs_id = 'irnews' and ntt_sn <![CDATA[ < ]]> 20000000000
	</delete>

	<insert id="migrateIrnewsBoard" parameterType="nttVo">
		insert into tb_ntt (
		    ntt_sn
		    , bbs_id
		    , bbs_ctgry_sn
		    , ntt_sj
		    , ntt_cn
		    , expsr_yn
		    , rdcnt
		    , upend_fixing_yn
		    , wrter_sn
		    , regist_dt
		    , register_sn
		    , updt_dt
		    , updusr_sn
		    , lang_code
		    , mbtlnum
		    , thumb_bass_image_use_yn
		    , thumb_atch_id
		    , thumb_bass_image_code
		    , mvp_url
		    , nmbr_wrter_nm
		)
		select
		    <choose>
		      <when test='langCode == "ko"'>
		      b_no + 15000000000
		      </when>
		      <when test='langCode == "en"'>
		      b_no + 15100000000
		      </when>
		    </choose>
		    , 'irnews'
		    , null
		    , b_title
		    , b_content
		    , 'Y'
		    , b_cnt
		    , case when b_notice = 1 then 'Y' else null end
		    , null
		    , b_regdate
		    , null
		    , b_regdate
		    , null
		    , #{langCode}
		    , null
		    , null
		    , null
		    , null
		    , null
		    , null
		from macrogenasis.board
		<choose>
		  <when test='langCode == "ko"'>
		    where b_class = 8
		  </when>
		  <when test='langCode == "en"'>
		    where b_class = 18
		  </when>
		</choose>
	</insert>

	<delete id="deleteMigratedOnlineInquiry" parameterType="nttVo">
		delete from tb_ntt where bbs_id = 'investor-inquiries' and ntt_sn <![CDATA[ < ]]> 20000000000
	</delete>

	<select id="allOnlineInquiryList" resultType="macrogen.www.vo.OnlineInquiryVo">
		select
		    o_no + 16000000000 o_no, 'ko' lang_code
		    , o_name, o_hp, o_email, o_ip
		    , o_title, o_content, o_regdate
		from macrogenasis.online_inquiry
		union all
		select
		    o_no + 16100000000 o_no, 'en' lang_code
		    , o_name, o_hp, o_email, o_ip
		    , o_title, o_content, o_regdate
		from macrogenasis.online_inquiry_en
	</select>

</mapper>