<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="macrogen.www.mapper.PrductPrductctgryMapper">
	<select id="list" parameterType="prductPrductctgryVo" resultType="prductPrductctgryVo">
		SELECT
			tpp.prduct_sn
			, tpp.ctgry_sn
			, tpp.sort_ordr
			, (SELECT ctgry_sn_path FROM vw_prductctgry vp WHERE vp.ctgry_sn = tpp.ctgry_sn ) ctgry_sn_path
			, (SELECT ctgry_nm_path FROM vw_prductctgry vp WHERE vp.ctgry_sn = tpp.ctgry_sn ) ctgry_nm_path
		FROM
			tb_prduct_prductctgry tpp
		WHERE 1 = 1
			<if test="prductSn != null and prductSn != '' ">
				AND tpp.prduct_sn = #{prductSn}
			</if>
			<if test="ctgrySn != null and ctgrySn != '' ">
				AND tpp.ctgry_sn = #{ctgrySn}
			</if>
		order by tpp.sort_ordr
	</select>

	<insert id="insert" parameterType="prductPrductctgryVo">
		INSERT INTO tb_prduct_prductctgry (
			prduct_sn, ctgry_sn, sort_ordr
			, regist_dt, register_sn, updt_dt, updusr_sn
		) VALUES(
			#{prductSn}, #{ctgrySn}, #{sortOrdr}
			, now(), #{registerSn}, now(), #{updusrSn}
		)
	</insert>

	<delete id="delete" parameterType="prductPrductctgryVo">
		DELETE FROM tb_prduct_prductctgry WHERE prduct_sn = #{prductSn} AND ctgry_sn = #{ctgrySn}
	</delete>

	<delete id="deleteByPrductSn" parameterType="prductPrductctgryVo">
		delete from tb_prduct_prductctgry where prduct_sn = #{prductSn}
	</delete>
</mapper>