<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="macrogen.www.mapper.PrductctgryMapper">

	<select id="list" parameterType="prductctgryVo" resultType="prductctgryVo">
		<include refid="paging.countTop"/>
		select
		    vpc.*
		from vw_prductctgry vpc
		where 1 = 1

		<if test="ctgrySnPath != null and ctgrySnPath != ''">
			and vpc.ctgry_sn_path like concat(#{ctgrySnPath}, '%')
		</if>
		<if test='topmostYn == "Y"'>
			AND nullif(vpc.upper_ctgry_sn, '') is null
		</if>
		<if test='upperCtgrySn != null'>
			AND vpc.upper_ctgry_sn = #{upperCtgrySn}
		</if>
		<if test="searchCtgryNmPath != null and searchCtgryNmPath != ''">
			and vpc.ctgry_nm_path = #{searchCtgryNmPath}
		</if>
		<if test="expsrYn != null and expsrYn != '' ">
			AND vpc.expsr_yn = #{expsrYn}
		</if>
		order by vpc.sort_ordr_path
		<include refid="paging.countBottom"/>
	</select>

	<select id="view" parameterType="prductctgryVo" resultType="prductctgryVo">
		select
		    vpc.*
		from vw_prductctgry vpc
		where vpc.ctgry_sn = #{ctgrySn}
	</select>

	<select id="seq" resultType="long">
		select fn_nextval('sq_prductctgry')
	</select>

	<insert id="insert" parameterType="prductctgryVo">
		insert into tb_prductctgry (
		    ctgry_sn, upper_ctgry_sn, ctgry_nm, sort_ordr, expsr_yn
		    , regist_dt, register_sn , updt_dt, updusr_sn
		) values (
			#{ctgrySn}
		    , #{upperCtgrySn}
		    , #{ctgryNm}
		    , #{sortOrdr}
		    , #{expsrYn}
		    , now(), #{registerSn}, now(), #{updusrSn}
		)
	</insert>
	<update id="update" parameterType="prductctgryVo">
		update
		    tb_prductctgry
		set
		    updt_dt = now()
		    , updusr_sn = #{updusrSn}
		    <if test="upperCtgrySn != null">, upper_ctgry_sn = #{upperCtgrySn}</if>
		    <if test="ctgryNm != null">, ctgry_nm = #{ctgryNm}</if>
		    <if test="sortOrdr != null">, sort_ordr = #{sortOrdr}</if>
		    <if test="expsrYn != null">, expsr_yn = #{expsrYn}</if>
		where
		    ctgry_sn = #{ctgrySn}
	</update>

	<update id="updateSortOrdr" parameterType="prductctgryVo">
		update tb_prductctgry
		set
			sort_ordr = #{sortOrdr}
			, upper_ctgry_sn = #{upperCtgrySn}
		where ctgry_sn = #{ctgrySn}
	</update>

	<delete id="delete" parameterType="prductctgryVo">
		delete from tb_prductctgry where ctgry_sn = #{ctgrySn}
	</delete>
</mapper>