<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="macrogen.www.mapper.PrductImageMapper">
	<select id="list" parameterType="prductImageVo" resultType="prductImageVo">
		SELECT
			tpi.prduct_sn
			, tpi.atch_id
			, tpi.sort_ordr
			, ta.physicl_flpth
		from tb_prduct_image tpi
		join tb_atch ta on ta.atch_id = tpi.atch_id
		WHERE 1 = 1
		<if test="prductSn != null and prductSn != '' " >
			AND tpi.prduct_sn = #{prductSn}
		</if>
		order by tpi.sort_ordr
	</select>

	<select id="view" parameterType="prductImageVo" resultType="prductImageVo">
		SELECT
			tpi.*
			, ta.physicl_flpth
		from tb_prduct_image tpi
		join tb_atch ta on ta.atch_id = tpi.atch_id
		WHERE tpi.prduct_sn = #{prductSn} AND tpi.atch_id = #{atchId}
	</select>

	<insert id="insert" parameterType="prductImageVo">
		INSERT INTO tb_prduct_image (
			prduct_sn, atch_id, sort_ordr
			, regist_dt, register_sn, updt_dt, updusr_sn
		) VALUES (
			#{prductSn}, #{atchId}, #{sortOrdr}
			, now(), #{registerSn}, now(), #{updusrSn}
		)
	</insert>

	<update id="update" parameterType="prductImageVo">
		UPDATE tb_prduct_image SET
			updt_dt = now()
			, updusr_sn = #{updusrSn}
			<if test="sortOrdr != null">, sort_ordr=#{sortOrdr} </if>
		WHERE prduct_sn = #{prductSn} AND atch_id = #{atchId}
	</update>

	<delete id="delete" parameterType="prductImageVo">
		DELETE FROM tb_prduct_image WHERE prduct_sn = #{prductSn} AND atch_id = #{atchId}
	</delete>

	<delete id="deleteByPrductSn" parameterType="prductImageVo">
		delete from tb_prduct_image where prduct_sn = #{prductSn}
	</delete>
</mapper>