<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="macrogen.www.mapper.SchedulerErrorMapper">

	<sql id="list_where">
	</sql>

	<select id="count" parameterType="schedulerErrorVo" resultType="int">
		select count(*)
		FROM tb_scheduler_error tse
		where 1 = 1
		<include refid="list_where" />
	</select>
	
	<select id="list" parameterType="schedulerErrorVo" resultType="schedulerErrorVo">
		<include refid="paging.countTop"/>
		SELECT 
		  tse.error_sn
		  , tse.scheduler_id
		  , tse.error_cn
		  , tse.refrn_id
		  , tse.regist_dt
		  , tse.register_sn
		  , tse.updt_dt
		  , tse.updusr_sn 
		FROM tb_scheduler_error tse
		where 1 = 1
		<include refid="list_where" />
		ORDER BY tse.error_sn
		<include refid="paging.countBottom"/>
	</select>

	<select id="view" parameterType="schedulerErrorVo" resultType="schedulerErrorVo">
		SELECT 
		  tse.error_sn
		  , tse.scheduler_id
		  , tse.error_cn
		  , tse.refrn_id
		  , tse.regist_dt
		  , tse.register_sn
		  , tse.updt_dt
		  , tse.updusr_sn 
		FROM tb_scheduler_error tse
		WHERE tse.error_sn = #{errorSn}
	</select>

	<insert id="insert" parameterType="schedulerErrorVo">
		INSERT INTO tb_scheduler_error (
		  scheduler_id
		  , error_cn
		  , refrn_id
		  , regist_dt
		  , register_sn
		  , updt_dt
		  , updusr_sn
		) VALUES (
		  #{schedulerId}
		  , #{errorCn}
		  , #{refrnId}
		  , now()
		  , #{registerSn}
		  , now()
		  , #{updusrSn}
		)
	</insert>
</mapper>