@charset 'utf-8';
.layer {
	z-index: 400;

	display: none;

	width: 100%;
	height: 100%;

	@include posf;
	> span {
		display: block;

		width: 100%;
		height: 100%;

		opacity: .5;
		background-color: #000;
		@include posa_tl;
	}
	.inner {
		position: absolute;
		z-index: 1;
		top: 50%;
		left: 50%;
		max-height: 840px;

		box-sizing: border-box;

		background-color: #fff;
		.head {
			font-size: 18px;

			position: relative;

			overflow: hidden;

			box-sizing: border-box;
			height: 50px;
			padding: 0 15px;

			color: #000;
			background-color: #fff;
			strong {
				border-bottom: 2px solid #000;
				line-height: 48px;

				display: block;

				height: 50px;
			}
			a.layer_close {
				display: block;

				width: 19px;
				height: 19px;
				line-height: 100%;
				text-decoration: none;
				margin-top: -10px;
				@include posa_tr(50%, 15px);
			}
		}
		.body {
			box-sizing: border-box;
			padding: 15px 15px 30px;
		}
		ul {
			&.dot {
				margin: -3px 0 12px;
				li {
					font-size: 12px;
					color: #444;
					padding-left: 20px;
					position: relative;
					line-height: 18px;
					&:before {
						@include ct;
						width: 2px;
						height: 2px;
						background-color: #666;
						@include posa_tl(8px, 10px);
					}
				}
			}
		}
		.red {
			color: #e50001 !important;
		}
	}
} 
.change_pw_layer {
	&:target {
		display: block;
	}
	.inner {
		// width: 320px;
		// height: 336px;
		// margin: -168px 0 0 -160px;
	}
}

#popup_header {
	font-size: 18px;

	position: relative;

	overflow: hidden;

	box-sizing: border-box;
	height: 50px;
	padding: 0 15px;
	margin-bottom: 30px;

	color: #000;
	background-color: #fff;
	strong {
		border-bottom: 2px solid #000;
		line-height: 48px;

		display: block;

		height: 50px;
	}
}
#container {
	&.popup_container {
		min-width: 100%;
		
		.page_wrap {
			padding: 0 15px;
		}
	}

}
.body_hidden{overflow:hidden}
#popup_result{
  	display:flex;
  	align-items:center;
  	justify-content:center;
	position:fixed; top:0;left:0;bottom:0;right:0;
	background-color:rgba(0,0,0,0.3)
}
#popup_layer{
	position:relative;
	background-color:#fff;
	border:1px solid #000;
	 padding:0 0 20px 0; 
	 #container{
	 	min-height:auto;
	 }
	.page_wrap{min-height:200px;overflow-y:auto}
	.popup_bottom{
		margin-top:30px;
		text-align:center;
	}
	.popup_close{
		
	    position: absolute;
	    right: 0;
	    top: 0;
	    font-size: 30px;
	    height: 50px;
	    line-height: 50px;
	    width: 50px;
	    font-family: Arial, Baskerville, monospace;
	} 
}
