@charset "UTF-8";
html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
p,
span,
input,
textarea,
select,
button,
th,
td,
blockquote,
h1,
h2,
h3,
h4,
h5,
h6,
figure {
  margin: 0;
  padding: 0;
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

ul,
ol,
li {
  list-style: none;
}

a {
  color: inherit;
  vertical-align: top;
  text-decoration: none;
  box-sizing: border-box;
  cursor: pointer;
}

img {
  max-width: 100%;
  vertical-align: top;
}

button {
  border: none;
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  outline: none;
  cursor: pointer;
}

input,
select,
textarea {
  border: none;
  font: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input:focus,
select:focus,
textarea:focus {
  outline: none;
}

@font-face {
  font-family: "NotoSansKR";
  src: url(../fonts/NotoSansKR-Thin.woff2) format("woff2"), url(../fonts/NotoSansKR-Thin.woff) format("woff");
  font-weight: 100;
  font-style: normal;
  unicode-range: U+AC00-D7A3;
}
@font-face {
  font-family: "NotoSansKR";
  src: url(../fonts/NotoSansKR-ExtraLight.woff2) format("woff2"), url(../fonts/NotoSansKR-ExtraLight.woff) format("woff");
  font-weight: 200;
  font-style: normal;
  unicode-range: U+AC00-D7A3;
}
@font-face {
  font-family: "NotoSansKR";
  src: url(../fonts/NotoSansKR-Light.woff2) format("woff2"), url(../fonts/NotoSansKR-Light.woff) format("woff");
  font-weight: 300;
  font-style: normal;
  unicode-range: U+AC00-D7A3;
}
@font-face {
  font-family: "NotoSansKR";
  src: url(../fonts/NotoSansKR-Regular.woff2) format("woff2"), url(../fonts/NotoSansKR-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  unicode-range: U+AC00-D7A3;
}
@font-face {
  font-family: "NotoSansKR";
  src: url(../fonts/NotoSansKR-Medium.woff2) format("woff2"), url(../fonts/NotoSansKR-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  unicode-range: U+AC00-D7A3;
}
@font-face {
  font-family: "NotoSansKR";
  src: url(../fonts/NotoSansKR-Bold.woff2) format("woff2"), url(../fonts/NotoSansKR-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  unicode-range: U+AC00-D7A3;
}
@font-face {
  font-family: "NotoSansKR";
  src: url(../fonts/NotoSansKR-ExtraBold.woff2) format("woff2"), url(../fonts/NotoSansKR-ExtraBold.woff) format("woff");
  font-weight: 800;
  font-style: normal;
  unicode-range: U+AC00-D7A3;
}
@font-face {
  font-family: "NotoSansKR";
  src: url(../fonts/NotoSansKR-Black.woff2) format("woff2"), url(../fonts/NotoSansKR-Black.woff) format("woff");
  font-weight: 900;
  font-style: normal;
  unicode-range: U+AC00-D7A3;
}
@font-face {
  font-family: "NeuzeitGrotesk";
  font-style: normal;
  font-weight: 300;
  src: local(※), url(../fonts/NeuzeitGrotesk-Light.woff2) format("woff2"), url(../fonts/NeuzeitGrotesk-Light.woff) format("woff");
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}
@font-face {
  font-family: "NeuzeitGrotesk";
  font-style: normal;
  font-weight: 400;
  src: local(※), url(../fonts/NeuzeitGrotesk-Regular.woff2) format("woff2"), url(../fonts/NeuzeitGrotesk-Regular.woff) format("woff");
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}
@font-face {
  font-family: "NeuzeitGrotesk";
  font-style: normal;
  font-weight: 700;
  src: local(※), url(../fonts/NeuzeitGrotesk-Bold.woff2) format("woff2"), url(../fonts/NeuzeitGrotesk-Bold.woff) format("woff");
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}
@font-face {
  font-family: "NeuzeitGrotesk";
  font-style: normal;
  font-weight: 900;
  src: local(※), url(../fonts/NeuzeitGrotesk-Black.woff2) format("woff2"), url(../fonts/NeuzeitGrotesk-Black.woff) format("woff");
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}
@font-face {
  font-family: "FamiljenGrotesk";
  font-style: normal;
  font-weight: 500;
  src: local(※), url(../fonts/FamiljenGrotesk-Medium.woff2) format("woff2"), url(../fonts/FamiljenGrotesk-Medium.woff) format("woff");
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
}

body {
  font-family: "NotoSansKR", "NeuzeitGrotesk", sans-serif;
}

.tac {
  text-align: center;
}

.ir {
  overflow: hidden;
  position: absolute;
  top: -999999px;
  left: -999999px;
  width: 0;
  height: 0;
  font-size: 0;
  text-indent: -999999px;
}

/* 버튼 */
.btn {
  display: inline-block;
  min-width: auto;
  height: auto;
  padding: 0;
  border: none;
  border-radius: 0;
  line-height: 0;
  letter-spacing: normal;
}

.btn-default {
  display: inline-block;
  padding: 0 20px;
  border: 1px solid #fff;
  border-radius: 25px;
}
.btn-default__text {
  font-family: "NeuzeitGrotesk";
  font-weight: 700;
  line-height: 48px;
  color: #fff;
  text-align: center;
  transition: all 0.3s;
}
.btn-default__text--pl {
  position: relative;
  padding-left: 20px;
  font-size: 14px !important;
}
.btn-default__text--pl::before {
  display: inline-block;
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 14px;
  height: 14px;
}
.btn-default__text--apple::before {
  width: 14px;
  height: 16px;
  background: url(../images/sub/apple.svg) center/auto no-repeat;
}
.btn-default__text--apple .btn-default__text {
  font-weight: 700;
}
.btn-default__text--google::before {
  width: 14px;
  height: 16px;
  background: url(../images/sub/google.svg) center/auto no-repeat;
}
.btn-default__text--google .btn-default__text {
  font-weight: 700;
}
.btn-default--regular {
  min-width: 158px;
}
.btn-default--white {
  background-color: transparent;
}
.btn-default--white .btn-default__text {
  color: #fff;
}
.btn-default--black {
  background-color: transparent;
  border: 1px solid #000;
}
.btn-default--black .btn-default__text {
  color: #000;
  font-size: 16px;
}
.btn-default--bnw {
  background-color: #fff;
  border: 1px solid #fff;
}
.btn-default--bnw .btn-default__text {
  color: #000;
  font-size: 16px;
}
.btn-default--gradient {
  background: linear-gradient(90deg, #83D8FF 0%, #AE88EF 100%);
  padding: 0 50px;
  border: none;
}
.btn-default--gradient .btn-default__text {
  color: #fff;
  font-size: 16px;
}
.btn-default--gradient .btn-default__text--diff {
  font-size: 12px;
  line-height: 44px;
}

.gnb.modal {
  width: calc(100% - 50px);
  margin-left: 50px;
  padding-left: 0;
}

.gnb.modal .modal-dialog .gnb-content .gnb-body > ul > li > a {
  width: 100%;
}

.gnb.modal .modal-dialog .gnb-content .gnb-body > ul > li > a::after {
  right: 20px;
}